* {
  box-sizing: border-box;
}

.navbar-brand {
  font-size: x-large;
}

.container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.card {
  width: 400px;
  text-align: center;
  margin: 20px;
}

.poster {
  width: 400px;
  height: 400px;
}
